.marge
{
  padding-top: 100px;
}
.card-img-top {
    width: 100%;

}

.image:hover img {
-webkit-transform:scale(2.25);
transform:scale(2.25);
z-index:1;
}

.zoom{
  z-index: 1;

}

.row {margin: 0 -5px;}
